@import "variables";

.page-header {
  background-color: $grey800;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  h1 {
    margin-right: 2rem;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
  }

    .menu-item {

      .submenu {
        position: absolute;
        display: none;
        background-color: $grey800;
        flex-direction: column;

        .submenu-item {
          padding: 0.5rem;
          display: block;
          color: $grey100;

          &:hover {
            background-color: $grey700;
          }
        }
      }

      &:hover .submenu {
        display: flex;
      }
    }
}
